{% extends "base.html" %} 
{% block title%} 
    {{ title }} 
{% endblock %} 

{% block content%}
	<div class="m-2 card p-4">
		{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
			{% if messages %} 
				{% for category, message in messages %}
					<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %} 
			{% endif %} 
		{% endwith %}
		<!-- <p>ID: {{info.id}}</p> -->
		<p>Username: {{info.username}}</p>
		<p>Email: {{info.email}}</p>
		<p>Phone Number: {{info.ph_no}}</p>
		<!-- <p>Industry: {{info.industry}}</p>
		<p>Budget: {{info.budget}}</p> -->
    </div>
  
	<div class="m-2 card">
		<div class="card-header">
			<span class="d-inline-block text-truncate" style="max-width: 1000px">Followers</span>
		</div>
		<div class="card-body">
			{% for i in range(followers[0]|length) %}
				<div class="card m-2" style="width: 350px; display: inline-block;">
					<div class="card-header p-3">
						<span class="d-inline-block text-truncate" style="max-width: 1000px">{{ influencers|selectattr("id", "equalto", followers[1][i])|map(attribute="username")|first }}</span>
						<div style="float: right;">
							<a href="{{ url_for('user_unfollow', iid=followers[1][i]) }}" class="btn btn-primary">Un Follow</a>
						</div>
					</div>
				</div>  
			{% endfor %}
		</div>
	</div>
{% endblock %}
